---
layout: compress
---

<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/Article" lang="en">
<!-- MIT Open Source @ https://github.com/StarCitizenTrackerv3/StarCitizenTrackerv3.github.io -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta name="description" content="Star Citizen Tracker V3 offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Star Citizen Tracker V3</title>
    <!-- Open Graph data -->
    <meta property="og:title" content="Star Citizen Tracker V3"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://starcitizentrackerv3.github.io/"/>
    <meta property="og:description" content="Star Citizen Tracker V3 offers a frank rundown of all the expectations and features for the largest crowdfunding project in history, Star Citizen"/>
    <meta property="og:site_name" content="Star Citizen Tracker V3"/>
    <meta property="article:section" content="Gaming"/>
    <meta property="article:tag" content="Gaming"/>
    <link rel="alternate" title="RSS feed" type="application/rss+xml" href=""/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="icon" sizes="48x48" href="/assets/icon.png">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
    <link rel="mask-icon" href="/assets/icon.svg" color="white">
    <meta name="apple-mobile-web-app-title" content="Star Citizen Tracker V3"/>
    <meta name="application-name" content="Star Citizen Tracker V3"/>
    <meta name="theme-color" content="#FFFFFF"/>
    <!-- CSS libraries -->
    <link rel="stylesheet" href="/css/bootstrap-5.2.0-beta1.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"/>
    <!-- CSS custom -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YV5VVLZX8F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-YV5VVLZX8F');
    </script>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="starcitizentrackerv3.github.io">Star Citizen Tracker V3</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://starcitizentrackerv3.github.io/faq/">FAQ</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="https://starcitizentrackerv3.github.io/about/">About us</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Update existing expectations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Submit new</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{content}}

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="text-muted">By sebastians17</p>
            </div>
            <div class="col">
                <p class="text-muted">Forked from
                    <a href="https://starcitizentracker.github.io/" target="_blank" rel="nofollow" class="text-decoration-none">StarCitizen Tracker</a></p>
            </div>
            <div class="col">
                <p class="text-muted">
                    <a href="https://raw.githubusercontent.com/starcitizentrackerv3/StarCitizenTrackerV3.github.io/master/_data/data.json" target="_blank" rel="nofollow" class="text-decoration-none">Open Data</a></p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h4 class="text-muted">Open Source on Github<a href="https://github.com/starcitizentrackerv3/StarCitizenTrackerV3.github.io"><i class="fab fa-github fa-fw"></i></a></h4>
    </div>
</footer>

<!-- Libraries -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle-5.2.0-beta1.min.js"></script>
<script src="/js/list-2.3.1.min.js"></script>
<script src="/js/lodash.min-4.17.21.js"></script>
<script src="/js/moment-2.29.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>-->

<!-- Custom js -->
<script src="/js/main.js"></script>
</body>
</html>